.fontserif {
    font-family: "Lucida Console", Courier, monospace;
	  font-size: 20px;
}
.fontCourier {
  font-family: "Lucida Console", Courier, monospace;
}
.grayIndex {
  	background-color: #1C1C1C;
}
div.container4 {
    height: 3em;
    position: relative }
div.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
